* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #000000;
    /* position: sticky; */
    overflow: none;
    font-family: Arial, sans-serif;
}

body {
    /* margin-top: 18px;    */
    color: #f2f2f2;
    margin-top: -9px;
    padding: 0 15px;
    max-width: 100%;
    /* overflow: hidden; */
}

body::-webkit-scrollbar {
    display: none;
}
.navbar {
    background-color: #0d0c0c;
    padding: 15px 0;
    /* position: -webkit-sticky; */
    position: sticky;
    /* position: absolute; */
    top: 0;
    left: 0; */
    right: 0;
    z-index: 1;
    margin: 0;
  }

  
  
  .containe {
    z-index: 1;
    background-color: #0d0c0c;
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    /* padding: 0 20px; */
    height: 51px;
  }
  /* .imge{
    z-index: 1000000;
    background-color: #0d0c0c;
    border-radius: 100%;
    width: 75px;
    z-index: 2000;
  } */
  .logoo {
    background-color: #0d0c0c;
    right: 358px;
    position: relative;
    margin: 0;
    color: white;
    font-size: 24px;
  }
  
  .nav-links {
    background-color: #0d0c0c;
    list-style-type: none;
    margin: 0;
    padding: 0;
    font-size: 20px;
  }
  .containe img{
    z-index: 1000000;
    border-radius: 100%;
    width: 75px;
  }
  
  .nav-links li {
    background-color: #0d0c0c;
    display: inline;
    margin-right: 20px;
  }
  
  .nav-links li:last-child {
    margin-right: 0;
    background-color: #0d0c0c;
  }
  
  .nav-links li a {
    background-color: #0d0c0c;
    text-decoration: none;
    color: #fff;
    transition: color 0.3s ease;
  }
  
  .nav-links li a:hover {
    background-color: #0d0c0c;
    color: #00bcd4;
    transition: all 0.5s ease-in-out;
    text-decoration:underline;
  }


.left {
    margin-left: 20px;
    font-size: 30px;
}

.right ul {
    display: flex;
    list-style-type: none;

}

.right ul li {
    margin-left: 10px;
    font-size: 20px;
}

.container {
    display: inline-block;
    justify-content: center;
    align-items: center;
        height: 100vh;
        max-width: 100%;
}

.box {
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    display: table-row;
    width: 100%;
}

.category {
    margin-bottom: 20px;
    justify-content: center;
    text-align: center; 
    background-color: #000000;
    margin-top: 65px;
}

h1{
    /* margin-left: 0%; */
   display: block;
}

.tool-category {
    display: inline-block;
    justify-content: center;
    text-align: center;
    padding-left: 10px;
    overflow: auto;
}

.tool-section {
    display: flex;
    margin-bottom: 5px;
    padding: 30px;
    font-size: 20px;
    margin-bottom: 20px;
    position: relative;
    flex-flow: column;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    margin: 20px 0;
}

.category p{
     /* width: 100%; 
     height: 100%; */
    /* margin-left: 10%; */
    background-color: #000000;
}

a{
    text-decoration: none;
    margin-bottom: 5px;
}

h2{
    margin-top: 0;
    margin-left: 45px;
    margin-right: 45px;
    margin-bottom: .5rem;
}

h2:hover{
    text-decoration: underline;
    color:brown;
}

.tool-info {
    margin:20px 30px 0 30px;
    display: flex;
    flex-direction: row;
    /* flex-wrap: wrap; */
    gap: 25px;
}

.tool-info-para{
    width: 300px;
    height:350px;
    position:relative;
    background-color:#13161b;
    border-radius: 15px;
}

img{
    border-radius: 50%;
    width: 100px;
    height: 80px;
}

button{
    color: white;
    /* width:250px; 
    height:40px; */
    border-radius: 50px;
    background-color: aliceblue;
    color: #000000;
    margin-left: 0;
    text-align: center;
    margin-top: 50px;
}

h3,p{
    margin-top:15px ;
}

.bn30 {
    border: 5em;
    cursor: pointer;
    outline: none;
    font-size: 16px;
    -webkit-transform: translate(0);
    transform: translate(0);
    background-image: linear-gradient(45deg, #4568dc, #b06ab3);
    padding: 0.7em 2em;
    border-radius: 65px;
    box-shadow: 1px 1px 10px rgba(255, 255, 255, 0.438);
    -webkit-transition: box-shadow 0.25s;
    transition: box-shadow 0.25s;
    color: white;
  }
  
  .bn30 .text {
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-image: linear-gradient(45deg, #4568dc, #b06ab3);
  }
  
  .bn30:after {
    content: "";
    border-radius: 18px;
    position: absolute;
    margin: 4px;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: -1;
    background: #0e0e10;
  }
  
  .bn30:hover {
    background-image: linear-gradient(-45deg, #4568dc, #b06ab3);
    box-shadow: 0 12px 24px rgba(128, 128, 128, 0.1);
  }
  
  .bn30:hover .text {
    background-image: linear-gradient(-45deg, #4568dc, #b06ab3);
  }


.tool-info-para:hover{
    transition: all 0.2s ease-out;
    box-shadow: 0 0 5px rgba(255, 255, 255, 1);
    border-radius: 15px;
    background-color:  #2221218e;
}

h3{
    font-size: 21px;
}

p{
    font-size: 17px;
    background-color: #000000;
}


.tool-info > div {
    padding: 25px;
    border-radius: 5px;
}

.tool-info h3,p {
    color: #f2f2f2;
    background-color:#13161b;
}

.search {
  width: 100%;
  position: absolute;
  display: flex;
}

.searchTerm {
  width: 100%;
  border: 3px solid #00B4CC;
  border-right: none;
  padding: 5px;
  height: 10px;
  border-radius: 5px 0 0 5px;
  outline: none;
  color: #9DBFAF;
}

.searchTerm:focus{
  color: #00B4CC;
}

.searchButton {
  width: 40px;
  height: 36px;
  border: 1px solid #00B4CC;
  background: #00B4CC;
  text-align: center;
  color: #fff;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
  font-size: 20px;
}

.wrap{
  width: 30%;
  position: absolute;
  top: 50%;
  left: 50%;
  height: 150px;
  transform: translate(-50%, -50%);
} */


@media screen and (max-width: 992px){
    body{
        overflow: scroll;
        margin-left: 16%;
    }
    .category h1{
        font-size: 1.5rem;
        margin-left: 15%;
    }
    .category p{
        font-size: 1rem;
        width: 100%;
        /* font-size: 1.5rem; */
        margin-left: -1%;    
        overflow: auto;
        text-align: center;
    }
    .tool-info{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
         flex-direction: row;
        flex-flow: row; 
        /* flex-wrap:nowrap; */
       margin-left: -2%;
    }
    h2{
        margin-left: 4%;
    }
}

@media screen and (max-width: 600px){
    .tool-info{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
       margin-left: -2%;
    }
}