body {
    background-image: url("back1.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    padding: 0px;
    margin: 0px;
    overflow-x: scroll;
    color: white;
    font-family: Arial, sans-serif;
}
body::-webkit-scrollbar {
    display: none; /* Hide the scrollbar */
}
.navbar{
    position: relative;
    left: 20px;
}
main{
 position: absolute;
 left: 5px;
 right: 45px;
}

body img {
    /* opacity: 0.7; */
}

.navbar {
    background-color: #0d0c0c;
    padding: 15px 0;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    /* background: transparent; */
  }
  
  
  .containe {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
    height: 51px;
  }
  
  .logoo {
    right: 358px;
    position: relative;
    margin: 0;
    font-size: 24px;
  }
  
  .nav-links {
    list-style-type: none;
    margin: 0;
    padding: 0;
    font-size: 20px;
  }
  .containe img{
    border-radius: 100%;
    width: 75px;
  }
  
  .nav-links li {
    display: inline;
    margin-right: 20px;
  }
  
  .nav-links li:last-child {
    margin-right: 0;
  }
  
  .nav-links li a {
    text-decoration: none;
    color: #fff;
    transition: color 0.3s ease;
  }
  
  .nav-links li a:hover {
    color: #00bcd4;
    text-decoration: underline;
    transition : underline ease-in-out
  }


.first {
    height: 75vh;
    /* background-color: rgba(245, 222, 179, 0.819); */
    margin-top: 90px;
    display: flex;
    max-width: 100vw;

    /* margin: auto; */
}

.up-left {
    /* color: var(--color-white); */
    padding-top: 50px;
    color: antiquewhite;
    font-size: 46px;
    margin-top: 10px;
    margin-left: 3px;
    /* margin-right: 10PX; */
    gap: 10px;

}

.up-left ul {
    top: 79px;
    position: relative;
    left: 50px;
    list-style-type: none;
    /* margin-left: 100px; */
}

.up-left ul li {
    margin-bottom: 10px;
}

.up-left button {
    padding: 10px 20px;
    font-size: 20px;
    border-radius: 20px;
    background-color: #7828b2;
    color: white;
}

.up-left button:hover {
    text-decoration: underline;
}

.egg {
    display: flex;
    gap: 10px;
    padding: 10px 0px;
}

.up-left button img {
    width: 14px;
    filter: invert(1);
}

.but {
    display: flex;
    align-items: center;
    gap: 13px;
}

.but:hover{
    cursor: pointer;
    border-radius: 5px solid white;
        transition-property: opacity, left;
        transition-duration: 3s, 5s, 2s, 1s;

      
}

.define {
    font-size: 20px;
}

.up-right img {
    width: 337px;
    position: relative;
    left: 287px;
    top: 122px;
}

.second {
    margin-top: 85px;
    position: relative;
    left: 5px;
}

.second h1 {
    margin-left: 37px;
}

.container {

    display: flex;
    margin-bottom: 150px;
    
}

.cardhead img {
    width: 80px;
    border-radius: 100%;
    object-fit: cover;
}
.cardhead{
     display: flex;
     align-items: center;
     padding: 20px;
     gap: 20px;
     height: 100px;
}

.card {
    height: 350px;
    width: 290px;
    color: white;
    /* max-width: 340px;
    min-height: 400px; */
    border-radius: 8px;
    margin-top: 30px;
    overflow: hidden;
    margin-left: 27px;
    background-color: #121212;
    transition: all 0.3sec ease;
    justify-content: center;
    gap: 10px;
}

.card:hover{
    background-color: rgb(36, 34, 34);
    cursor: pointer;
    transform: translateY(-2px);
    border-radius: 5px solid white;
    box-shadow: 5px solid white;
    border: #fff;
}

.cardcontent {
    padding: 20px;

}
.button button{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    padding: 8px 15px;
    gap: 5px;
    position: relative;
    left: 80px;
    margin-top: 40px;
    background-color:white;
    color: #008CBA;
}
.button button img{
    width: 10px;
}
.button button:hover{
    background-color:#008CBA;
    color: white;
}


.foot button {
    font-size: 18px;
    border-radius: 20px;
    padding: 11px 25px;
    display: flex;
    align-items: center;
    gap: 10px;
    color: rgb(0, 140, 255);
    background-color: white;
    margin: auto;
}

.visit img {
    width: 25px;
}

.visit:hover {
    background-color: rgb(0, 140, 255);
    color: white;
}

footer {
    height: 50vh;
    background-color: #121212;
    display: flex;
    /* max-width: 120vw; */
    width: 97.5vw;
    /* position: absolute; */
    top: 200vh;
    position: absolute;
 left: 10px;
 right: 15px;
}

.foot{
    justify-content: space-evenly;

}

.footleft {
    width: 40vw;
    height: 50vh;
    /* background-color: rgb(255, 179, 0); */

    /* flex-wrap: wrap; */
   
}

.footimg img {
    width: 80px;
}

.foothead {
    top: 24px;
    display: flex;
    position: relative;
    left: 45px;
}

.footbottom {
    padding: 10px 60px;
    font-size: 20px;
    /* margin-left: -6px; */
}

.footcenter {
    /* top: 25px; */
    width: 40vw;
    height: 50vh;
    /* background-color: rgb(255, 102, 0); */
    display: flex;
    /* gap: 20px; */
    justify-content: start;
    text-decoration: none;
    /* position: static; */
}

.footcenter ul {
    list-style-type: none;
    font-size: 20px;
    position: relative;
    top: 15px;
}

.footcenter ul a {
    margin-bottom: 10px; 
     width: 10px; 
     text-decoration: none;
     color: white;
}

.footcenter ul a:hover {
    text-decoration: underline;
    cursor: pointer;
    color: aqua;
}
.infonews{
    left: 92px;
    width: 260px;
    position: relative;
    top: 20px;
    font-size: 20px;
}
.infonews h2{
    font-size: 20px;
}
.edge{
    font-size: 30px;
}
#unique:hover{
    text-decoration: underline;
    cursor: pointer;
}
#red{
    position: static;
    right: 40px;
    height: 300px;
    top: 44px;
    margin-right: -22px;
}

.foot{
    justify-content: center;
}